[Desktop Entry]
Encoding=UTF-8
Name=War of Raekidion
Comment=Touhou-like online multiplayer bullet hell type top-down shooter game
Type=Application
Categories=Games;
Exec=/../../games/War\ of\ Raekidion/raekidion.sh
Icon=/../../games/War\ of\ Raekidion/raekidion.ico
