[Desktop Entry]
Encoding=UTF-8
Name=War of Raekidion
Comment=Touhou-like online multiplayer bullet hell type top-down shooter game
Type=Application
Categories=Game
Exec=/usr/games/raekidion
Icon=/usr/games/War\ of\ Raekidion/icon.ico
