Package: raekidion
Architecture: all
Maintainer: Francois Allard (binarmorker) and Marc-Antoine Renaud (Learz)
Depends: libc6, libsdl2-2.0-0, libsdl2-image-2.0-0
Section: games
Priority: optional
Version: 0.0.1
Installed-Size: 2244
Description: Touhou-like online multiplayer bullet hell type top-down shooter game
