Package: raekidion
Architecture: all
Maintainer: Francois Allard (binarmorker) and Marc-Antoine Renaud (Learz)
Depends: libsdl2-dev, libsdl2-image-dev
Section: games
Priority: optional
Version: 0.0.1
Installed-Size: 2244
Description: Touhou-like online multiplayer bullet hell type top-down shooter game
